<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="text-align:center;bgcolor:success;">
<div class="container" style="margin-top:50px;text-align:center;">
<h1><b><center>ABOUT US</center></b></h1>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsgv0ocurpWDR02XP3_4MiNkUjEt8LZCmWhg&usqp=CAU" style="width:450px;height:280px;margin-left:60px;margin-top:50px;">
<p>
Job App is the best job site in the world with over 100M unique visitors every month. Job App strives to put job seekers first,</p>
    <p>giving them free access to search for jobs, post resumes, and research companies. We help companies to post their vaccancies,</p>
    <p>search for their wanted type of seekers, and shortlist them by downloading their resumes.Every day, we connect millions of people to new opportunities.</p>
</div>
</body>
</html>